@page
@model _3d_Application.Pages.EditorModel
@{
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="FichierDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Fichier
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="FichierDropdown">
                        <li><a class="dropdown-item" href="#">Importer</a></li>
                        <li><a class="dropdown-item" href="#">Enregistrement</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="AddDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ajouter
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="AddDropdown">
                        <li>
                            <a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Existant 3D Model</a>
                        </li>
                        <li><a class="dropdown-item" >Groupe</a></li>
                        <li><a class="dropdown-item" >3D Model</a></li>
                    </ul>
                </li>
               
                
            </ul>
            <div class="d-flex form-check">
                <input class="form-check-input mx-1" type="checkbox" value="" id="AutoSave">
                <label class="form-check-label" for="AutoSave">Enregistrement automatique</label>
            </div>
        </div>
    </div>
</nav>
<div class="row h-100">
    <div id="editor-view" class="col col-lg-9 " style="position:relative;">
        <div id="ui-container" style="z-index:2;">
    </div>

    </div>
    <div class="d-none d-lg-block col col-lg-3 bg-light">
        <div class="h-100 ">
            <div class="card-body">
                <ul class="nav nav-tabs nav-justified" id="myTab2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab-justified" data-bs-toggle="tab" href="#home-just" role="tab" aria-controls="home-just" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab-justified" data-bs-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="messages-tab-justified" data-bs-toggle="tab" href="#messages-just" role="tab" aria-controls="messages-just" aria-selected="false">Messages</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content pt-1">
                    <div class="tab-pane active" id="home-just" role="tabpanel" aria-labelledby="home-tab-justified">
                        <div class="container">
                            <!-- Drag & Drop Section -->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Drag &amp; Drop</h4>
                                </div>
                                <div class="card-body">
                                    <div id="jstree-drag-drop" class="jstree">
                                        <ul>
                                            <!-- Your existing tree structure here -->
                                            <li id="j4_1" class="jstree-node jstree-closed"><a href="#"><i class="jstree-icon jstree-themeicon far fa-folder jstree-themeicon-custom"></i>css</a></li>
                                            <li id="j4_4" class="jstree-node jstree-open">
                                                <a href="#"><i class="jstree-icon jstree-themeicon far fa-folder jstree-themeicon-custom"></i>img</a>
                                                <ul>
                                                    <li id="j4_7" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-themeicon far fa-file-image text-success jstree-themeicon-custom"></i>avatar.png</a></li>
                                                    <li id="j4_5" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-themeicon far fa-file-image text-success jstree-themeicon-custom"></i>bg.jpg</a></li>
                                                    <li id="j4_6" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-themeicon far fa-file-image text-success jstree-themeicon-custom"></i>logo.png</a></li>
                                                </ul>
                                            </li>
                                            <li id="j4_8" class="jstree-node jstree-open">
                                                <a href="#"><i class="jstree-icon jstree-themeicon far fa-folder jstree-themeicon-custom"></i>js</a>
                                                <ul>
                                                    <li id="j4_9" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-themeicon fab fa-node-js text-warning jstree-themeicon-custom"></i>jquery.js</a></li>
                                                    <li id="j4_10" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-themeicon fab fa-node-js text-warning jstree-themeicon-custom"></i>app.js</a></li>
                                                </ul>
                                            </li>
                                            <li id="j4_11" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-themeicon fab fa-html5 text-danger jstree-themeicon-custom"></i>index.html</a></li>
                                            <li id="j4_12" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-themeicon fab fa-html5 text-danger jstree-themeicon-custom"></i>page-one.html</a></li>
                                            <li id="j4_13" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-themeicon fab fa-html5 text-danger jstree-themeicon-custom"></i>page-two.html</a></li>
                                            <li id="j5_8" class="jstree-node jstree-closed"><a href="#"><i class="jstree-icon jstree-themeicon far fa-folder jstree-themeicon-custom"></i>jsssss</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Checkbox Section -->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Checkbox</h4>
                                </div>
                                <div class="card-body">
                                    <div id="jstree-checkbox" class="jstree">
                                        <ul>
                                            <!-- Your existing checkbox tree structure here -->
                                            <li id="j5_1" class="jstree-node jstree-open">
                                                <a href="#"><i class="jstree-icon jstree-checkbox"></i><i class="jstree-icon jstree-themeicon far fa-folder jstree-themeicon-custom"></i>css</a>
                                                <ul>
                                                    <li id="j5_2" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-checkbox"></i><i class="jstree-icon jstree-themeicon fab fa-css3-alt text-info jstree-themeicon-custom"></i>app.css</a></li>
                                                    <li id="j5_3" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-checkbox"></i><i class="jstree-icon jstree-themeicon fab fa-css3-alt text-info jstree-themeicon-custom"></i>style.css</a></li>
                                                </ul>
                                            </li>
                                            <li id="j5_4" class="jstree-node jstree-closed"><a href="#"><i class="jstree-icon jstree-checkbox"></i><i class="jstree-icon jstree-themeicon far fa-folder jstree-themeicon-custom"></i>img</a></li>
                                            <li id="j5_8" class="jstree-node jstree-closed"><a href="#"><i class="jstree-icon jstree-checkbox"></i><i class="jstree-icon jstree-themeicon far fa-folder jstree-themeicon-custom"></i>js</a></li>
                                            <li id="j5_11" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-checkbox"></i><i class="jstree-icon jstree-themeicon fab fa-html5 text-danger jstree-themeicon-custom"></i>index.html</a></li>
                                            <li id="j5_12" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-checkbox"></i><i class="jstree-icon jstree-themeicon fab fa-html5 text-danger jstree-themeicon-custom"></i>page-one.html</a></li>
                                            <li id="j5_13" class="jstree-node jstree-leaf"><a href="#"><i class="jstree-icon jstree-checkbox"></i><i class="jstree-icon jstree-themeicon fab fa-html5 text-danger jstree-themeicon-custom"></i>page-two.html</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-justified">
                        <p>
                            Bear claw jelly beans wafer pastry jelly beans candy macaroon biscuit topping. Sesame snaps lemon drops
                            donut gingerbread dessert cotton candy wafer croissant jelly beans. Sweet roll halvah gingerbread bonbon
                            apple pie gummies chocolate bar pastry gummi bears.
                        </p>
                        <p>
                            Croissant danish chocolate bar pie muffin. Gummi bears marshmallow chocolate bar bear claw. Fruitcake
                            halvah chupa chups dragée carrot cake cookie. Carrot cake oat cake cake chocolate bar cheesecake. Wafer
                            gingerbread sweet roll candy chocolate bar gingerbread.
                        </p>
                    </div>
                    <div class="tab-pane" id="messages-just" role="tabpanel" aria-labelledby="messages-tab-justified">
                        <p>
                            Croissant jelly tootsie roll candy canes. Donut sugar plum jujubes sweet roll chocolate cake wafer. Tart
                            caramels jujubes. Dragée tart oat cake. Fruitcake cheesecake danish. Danish topping candy jujubes. Candy
                            canes candy canes lemon drops caramels tiramisu chocolate bar pie.
                        </p>
                        <p>
                            Gummi bears tootsie roll cake wafer. Gummies powder apple pie bear claw. Caramels bear claw fruitcake
                            topping lemon drops. Carrot cake macaroon ice cream liquorice donut soufflé. Gummi bears carrot cake
                            toffee bonbon gingerbread lemon drops chocolate cake.
                        </p>
                    </div>
                   
                </div>
            </div>
    </div>
</div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">3D Models </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div id="canva_Assets_3D_objects"  class="offcanvas-body scroll-example">
        </div>
        </div>

    </div>
<script type="module" src="~/main/editor.js"></script>

