@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="status-card" style="display:none; position: absolute; top: 10px; left: 10px; background: white; padding: 10px; border: 1px solid #ddd;"></div>

<div class="row">
    <div class="col-10" id="main-view"></div>
    <div class="col-2" id="sidebar"></div>
</div>
<script type="module" src="~/main/main.js"></script>