@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="status-card" class="card position-fixed" style="display: none;">
    <!-- Status card content -->
</div>

<div id="mySidenav" class="sidenav">
        
</div>
<button class="btn btn-info" id="showNavBar" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</button>

<div id="main-view">
    <div id="btn-group-container" class="btn-group-vertical me-2" role="group" aria-label="Second group" style="z-index:2;">
        <button type="button" class="btn btn-secondary">
            <i class="fas fa-arrows-alt"></i>
        </button>
        <button type="button" class="btn btn-secondary">
            <i class="fas fa-sync-alt"></i>
        </button>
        <button type="button" class="btn btn-secondary">
            <i class="fas fa-compress-alt"></i>
        </button>
    </div>
</div>
<script type="module" src="~/main/main.js"></script>
<script src="~/main/CustomPage.js"></script>