@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="status-card" class="card position-fixed" style="display: none;">
    <!-- Status card content -->
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    
</div>
<button class="btn btn-info" id="showNavBar" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</button>

<div id="main-view">
    
</div>
<script type="module" src="~/main/main.js"></script>
<script src="~/main/CustomPage.js"></script>